{% extends "base.html" %}

{% block body %}
    <h2>
        {{ welcome_message }}
    </h2>

    <h3>Routing, templating, forms and models</h3

    <p>
        This page is a very simple sample route which uses the functions in <code>templates.py</code> for Jinja templating.
        (See routing configuration in <code>routes.py</code>.)
    </p>

    <p>
        You can see a route which uses the form library at <a href="/sample-form">/sample-form</a>.
        This page also creates and persist models (entities) and demonstrates the use of flash messages.
    </p>

    <h3>Authentication</h3>

    <p>
        To help you understand how the <a href="https://cloud.google.com/appengine/docs/python/users/">Python Users API</a> works, you can see a full code example at <a href="/restricted-inline">/restricted-inline</a>.  This is an example of a page restricted by the Users API, so you'll need to provide a dummy login (in development) or log in with Google (in other environments).
    </p>

    <p>
        The API is pretty simple, so the main thing that this application provides is some additional logic around authorisation using <a href="http://simeonfranklin.com/blog/2012/jul/1/python-decorators-in-12-steps/">decorators</a>:
    </p>

    <p>
        You can see an example of a route controlled by a decorator at <a href="/restricted">/restricted</a>.  You can just add <code>@login_required</code> above your <code>get</code> and <code>set</code> methods to make them require the user to login with Google!
    </p>

    <p>
        Similarly, <a href="/restricted-app-engine">/restricted-app-engine</a> uses the <code>@app_engine_login_required</code> decorator.  This requires the logged-in user to have the Viewer, Editor, or Owner primitive role, or the App Engine App Admin curated role on the Google App Engine project in question.  (These roles aren't controlled in code, but in the settings for your App Engine project on Google Cloud Platform.  You can simulate the role in dev by ticking the admin checkbox on the dummy login page.)
    </p>

    <h3>Authorisation</h3>

    <p>
        The Python Users API only has the concept of "users with App Engine permissions for the project" and "everyone else".  To support better user-authorisation, this project includes custom code to support user roles.
    </p>

    <p>
        You can see the configuration of roles and users in <code>config.yml</code>.  To restrict a route by role, use the <code>@requires_role</code> decorator and pass it the relevant role.
    </p>

    <p>
        You can see an example of this at <a href="/restricted-role">/restricted-role</a>.
    </p>

    <h3>Static assets and Google Cloud Storage</h3>

    <p>
        The project supports taking static assets from Google Cloud Services.
        You'll need to access the site with a subdomain of <code>static</code> to use this feature, so go and update your hosts file to look something like this:
    </p>

    <p>
        <code>127.0.0.1 yoursite.dev static.yoursite.dev</code>
    </p>

    <p>
        Now configure <code>config.py</code> with the names of your buckets in staging and live (search for <code>bucket_name</code>).
    </p>

    <p>
        You can then load something out of the bucket at <a href="http://static.yoursite.dev/filename-here">http://static.yoursite.dev/filename.here</a>.
        The configuration is broad enough that this will automatically support a URL like <code>http://static.whatever-here.appspot.com/filename.here</code>.
        You'll need to test this in a real remote App Engine environment so you can upload files to the bucket - the code doesn't include an upload feature yet, and App Engine's dev tools don't include the option for uploading into the simulated Cloud Storage.  (In dev, Cloud Storage is simulated using the Blobstore).
    </p>

    <p>
        If you want to build your own upload form, <a href="http://blog.whiteoctober.co.uk/2016/08/01/handling-uploads-with-app-engine-and-webapp2/">this article</a> will help.
    </p>

    <p>
        When referencing assets which are in the codebase, put them in the <code>static</code> folder and reference them in the code like this:
    </p>

    <p>
        <code>
            &lt;link rel="stylesheet" href="&lbrace;&lbrace; static_root &rbrace;&rbrace;/main.css"&gt;
        </code>
    </p>

    <p>
        <code>static_root</code> is a variable available to every page you render (see <code>templates.py</code>).  It is configured in <code>config.py</code>.
        The idea is that you can begin by leaving this configured as <code>/static</code> but in future update all your assets on staging/live to render from GCS by simply updating the config value to be <code>https://static.yoursite.com</code> (and writing a script to transfer files to GCS from your codebase, of course...!)
    </p>

{% endblock  %}
