<form action="" method="POST">
    {% for section in form %}
        <h3>{{section.title}}</h3>
        {% for field in section.fieldset %}
            {#
                Work out whether the field is a required field.
                We store the required value in an array to work around problems with variable scope - see the discussion at http://stackoverflow.com/a/4880398/328817
            #}
            {% set required = [] %}
            {% for key, conditions in error_conditions.iteritems() %}
                {% if key == field.key %}
                    {% for condition, message in conditions.iteritems() %}
                        {% if condition == "not_present" %}
                            {# dummy variable so we can do an append #}
                            {% set _ = required.append(true) %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <div class="form-group {% if field.key in errors %}has-error{% endif %}">
                <label for="{{field.key}}" class="control-label control-label-block">
                    {{field.number}}. {{field.label}}:
                    {% if required%} <span class="text-danger">*</span>{% endif %}
                </label>
                {% if "help_text" in field %}
                    <p class="help-block">{{ field["help_text"] }}</p>
                {% endif %}
                {% if field.type in ["text", "number"] %}
                    <input
                        type="{{field.type}}"
                        class="form-control form-control-inline-sm"
                        name="{{field.key}}"
                        id="{{field.key}}"
                        {% if field.max %}max="{{field.max}}"{% endif %}
                        {% if field.min %}min="{{field.min}}"{% endif %}
                        value="{% if (field.value is not sameas False) %}{{field.value}}{% endif %}"
                        {% if required%}required="required"{% endif %}
                    />
                {% endif %}
                {% if field.type == "textarea" %}
                    <textarea
                        class="form-control form-control-inline-sm"
                        name="{{field.key}}"
                        id="{{field.key}}"
                        {% if required%}required="required"{% endif %}
                    >{% if (field.value is not sameas False) %}{{field.value}}{% endif %}</textarea>
                {% endif %}
                {% if field.type == "radio" %}
                    {% for option in field.options %}
                        <div class="radio">
                            <label>
                                {% if field.value and field.value == option %}
                                    <input type="radio" name="{{field.key}}" id="{{field.key}}_{{option}}" value="{{option}}" checked{% if required%} required{% endif %}>
                                {% else %}
                                    <input type="radio" name="{{field.key}}" id="{{field.key}}_{{option}}" value="{{option}}"{% if required%} required{% endif %}>
                                {% endif %}
                                {{option|capitalize}}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if field.type == "select" %}
                    <select class="form-control" name="{{field.key}}" id="{{field.key}}" {% if required%} required{% endif %}>
                        {% for option, option_text in field.options.iteritems() %}
                            <option value="{{option}}" {% if field.value and field.value == option %}selected{% endif %}>{{ option_text }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if field.key in errors %}
                    <span class="alert alert-danger alert-inline" role="alert">
                        {% for thiserror in errors[field.key] %}
                            {{error_conditions[field.key][thiserror]}}
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>
